/* BUTTONS */
.buttonsLanding {
    width: 250px;
    color: azure;
    margin: 10px 0;
}

.buttonPrimary {
    background-color: rgb(166, 166, 247);
}

.buttonSecondary {
    background-color: rgb(227, 227, 241);
}

.buttonFacebook {
    background-color: rgb(80, 80, 203);
}

.buttonLogin {
    background-color: rgb(151, 167, 127);
}

.buttonSignup {
    background-color: rgb(11, 11, 29);
}
